.home {
  display: flex;
  flex-direction: column;
  justify-content: center;


  .freelanceMain{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    //background-color: rgb(187, 232, 246);
    background-color: #1ec1da;
    color:white;

    h1{
      font-size:10rem;
      font-family:Georgia, 'Times New Roman', Times, serif;
      letter-spacing: 5px;


      // font-family:'Times New Roman', Times, serif;//'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
    h3{
      font-size:2rem;
      padding-top:1%;
      padding-left: 20%;
      font-family: 'Times New Roman', Times, serif;
    }
    //border: 1px solid blue;
  }

  .features {
    background-color: #c1ecf3; //#1ec1da
    display: flex;
    justify-content: center;
    padding: 100px 0px;

    &.dark {
      background-color: #0d084d;

      h1 {
        color: white !important;
      }

      i {
        font-weight: 300;
      }

      p {
        margin-bottom: 20px;
        color: white !important;
      }

      .title {
        color: white !important;
        font-weight: 300 !important;
        font-size: 14px !important;
      }

      button {
        background-color: #1dbf73;
        border: none;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        width: max-content;
        font-size: 16px;
        cursor: pointer;
        margin-top: 20px;
      }
    }

    .container {
      width: 1400px;
      display: flex;
      align-items: center;
      gap: 200px;
      .item {
        display: flex;
        flex-direction: column;
        gap: 15px;
        &:first-child {
          flex: 2;
        }
        &:last-child {
          flex: 3;
        }

        img{
          width: 100%;
        }
        h1 {
          font-weight: 500;
          margin-bottom: 10px;
        }
        .title {
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 500;
          font-size: 18px;
          color: #666;
          img {
            width: 24px;
            height: 24px;
          }
        }
        p {
          font-size: 18px;
          font-weight: 300;
          color: gray;
          line-height: 28px;
          letter-spacing: 1px;
        }

        video{
          width: 720px;
        }
      }
    }

    //   &.reverse {
    //     background-color: #0d084d;
    //     color: white;
    //     .container {
    //       flex-direction: row-reverse;
    //     }
    //   }
  }

  .explore {
    display: flex;
    justify-content: center;
    padding: 100px 0px;

    .container {
      width: 1400px;

      h1{
        color: #555;
      }

      .items {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        

        .item {

          

          width: 400px;
          height: 150px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: center;
          justify-content: center;
          text-align: center;
          cursor: pointer;

          .link{
            font-weight: 300;

            //color:red;
          }

          img {
            width: 50px;
            height: 50px;
          }

          .line{
            width: 50px;
            height: 2px;
            background-color: lightgray;
            transition: all .3s ease;
          }

          span {
            font-weight: 300;
          }

          &:hover{
            transition: all .3s ease;
            color: #1ec1da;
            
            span{
              font-weight: 700;
            }


            .line{
              width: 100px;
              background-color: #1ec1da;
            }
          }
        }
      }
    }
  }

  .exploreGigs{
    margin-top: 5%;
    h1{
      text-align: center;
    }
  }

  .exploreUsers{


    display: flex;
    flex-direction: column;

    h1{
      //background-color: #1ec1da;
      background-color: #006574;
      padding-top: 5%;
      padding-bottom: 5%;
      color:white;
      text-align: center;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }


    .userCards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 -10px; /* to create some space between the cards */
      gap:10%;
      
      .card {
        margin-top: 50px;
        width: calc(25% - 20px); /* set the width to 25% minus 20px (2 x 10px margin) */
        margin: 10px; /* add some margin between the cards */
      }
    }
  }
}
