.userCard {
    width: 324px;
    height: 400px;
    color: white;
    border-radius: 5px;
    position: relative;
    cursor: pointer;

    border: 1px solid gray;
    display: flex;
    flex-direction: column;
  
    .coverAndProfileImg{
      width: 324px;
      height: 300px;
      display: flex;
      align-items: center;
      text-align: center;
      position: relative;
      border: 1px solid gray;
      box-shadow: 5px 10px;
      .coverImg{
        width: 324px;
        height: 300px;
        position: absolute;
        top: 0;
        left: 0;
      }

      .profileImg{
      
        position: absolute;
        // padding-top: 15%;
        top:0;
        // left: 15%;
        width: 100%;
        height: 100%;
        // width: 180px;
        // height: 180px;
        z-index: 1;
        border-radius: 100%;
        
      }

      
    }

    .nameAndDesc{
      font-size: small;
      width: 324px;
      height: 100px;
      color:black;
      text-align: center;
      position: relative;
      display: flex;
      flex-direction: column;
      margin:2px;
      h2{
        //position: absolute;
        font-family: "Times New Roman", Times, serif;
        padding-bottom: 5px;
        padding-top: 5px;
      }

      h6{
        font-family: "Times New Roman", Times, serif;
        text-align: end;
        position: relative;
        top: 10px;
        margin-right: 10px;
      }

      p{
        font-size: 0.8rem;
        padding-left: 8px;
        padding-right: 8px;
        font-family: "Times New Roman", Times, serif;
      }
    }

    // img {
    //   width: 100%;
    //   height: 100%;
    //   object-fit: cover;
    // }
  
    // .desc {
    //   font-weight: 300;
    //   position: absolute;
    //   top: 15px;
    //   left: 15px;
    // }
  
    // .title {
    //   position: absolute;
    //   top: 40px;
    //   left: 15px;
    //   font-size:24px;
    //   font-weight: 500;
    // }
  }