.userCard {
    width: 252px;
    height: 344px;
    color: white;
    border-radius: 5px;
    position: relative;
    cursor: pointer;

    border: 1px solid gray;
    display: flex;
    flex-direction: column;
  
    .coverAndProfileImg{
      width: 252px;
      height: 252px;
      display: flex;
      align-items: center;
      text-align: center;
      position: relative;
      border: 1px solid gray;
      box-shadow: 5px 10px;
      .coverImg{
        width: 252px;
        height: 252px;
        position: absolute;
        top: 0;
        left: 0;
      }

      .profileImg{
        
        position: absolute;
        padding-top: 15%;
        top:0;
        left: 15%;
        width: 180px;
        height: 180px;
        z-index: 1;
        border-radius: 100%;
      }
    }

    .nameAndDesc{
      font-size: small;
      width: 242px;
      height: 10px;
      color:black;
      text-align: center;
      position: relative;
      display: flex;
      flex-direction: column;
      h2{
        //position: absolute;
        font-family: 'Courier New', Courier, monospace;
        padding-bottom: 10px;
        padding-top: 10px;
      }

      h6{
        font-family: 'Courier New', Courier, monospace;
        text-align: end;
        position: relative;
        top: 30px;
      }

      p{

        font-family: 'Courier New', Courier, monospace;
      }
    }

    // img {
    //   width: 100%;
    //   height: 100%;
    //   object-fit: cover;
    // }
  
    // .desc {
    //   font-weight: 300;
    //   position: absolute;
    //   top: 15px;
    //   left: 15px;
    // }
  
    // .title {
    //   position: absolute;
    //   top: 40px;
    //   left: 15px;
    //   font-size:24px;
    //   font-weight: 500;
    // }
  }