.users{
    .container{
        
        .gratitude{
            text-align: center;
            margin-top: 70px;
            margin-bottom: 80px;
            background-color:  rgb(255, 140, 0);
            color:white;
            font-weight: 500;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .userCards{
            display: flex;
            flex-wrap:wrap;
            margin:-10px 0 0 -10px;
            gap:100px;


            .userCard{
                background-color: gray;
                color:white;
                border: 10px groove  gray;

                display: inline-block;
                text-align: center;
                margin-left: 50px;
                margin-right: 50px;
                flex-grow: 1;
                height:540px;    
                width: 400px;//calc(100% * (1/4) - 10px - 1px);
                margin-bottom: 50px;

                img{
                    // border-radius: 10%;
                    object-fit: cover;
                    height: 400px;
                    width: 100%;
                }
                .nameOfSeller{
                    display: flex;
                    flex-direction: row;
                    h3{
                    
                        padding-top: 3px;
                        font-weight: 500;
                        //color:black;
                        height: 30px;
                        width: 60%;
                        text-align: end;
                        color:rgb(255, 140, 0);
                    }

                    img{
                        padding-left: 10px;
                        height: 30px;
                        width: 30px;
                    }

                }

                .desc{
                    padding-left: 20px;
                    padding-right: 20px;
                    // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    height: 70px;
                    font-family: "Times New Roman", Times, serif;
                    //color: black;
                }

                .email{
                    background-color: gray;
                    height: 20px;
                    width: 100%;
                    color: rgb(255, 140, 0);
                }


            }
        }
    }
}